<div class="user_info_form_title">
  <h2>新規登録</h2>
</div>
<div class="user_info_form_wrapper">
<%= form_for(@user, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :nickname, "ニックネーム(必須)" %><br />
    <%= f.text_field :nickname,maxlength: "30", class: "input_box" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス(必須)" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input_box" %>
  </div>

  <%if @sns_id.present? %>
     <%= hidden_field_tag :sns_auth, true %>
   <% else %>
   <div class="field">
     <%= f.label :password, "パスワード(半角英数含 6文字以上)" %>
     <% @minimum_password_length %>
     <br />
     <%= f.password_field :password, autocomplete: "new-password", class: "input_box" %>
   </div>

   <div class="field">
     <%= f.label :password_confirmation, "パスワード確認" %><br />
     <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_box" %>
   </div>
   <% end %>

  <div class="actions">
    <%= f.submit "次へ" ,class:"next_btn" %>
  </div>
<% end %>

<% render "devise/shared/links" %>

</div>

<div class="top_page_link">
  <%= link_to "トップページへ戻る", root_path %>
</div>