<%= render "/shared/header" %>
<div class="user_page_title">
  Profile
</div>
<div class="user_top_wrapper">
  <div class="user_left_wrapper">
    <div class="user_icon_info_wrapper">
      <div class="user_icon_wrapper">
        <% if @user.profile.image.attached? %>
          <%= image_tag @user.profile.image, class: "profile_image"%>
        <% else %>
          <%= image_tag "default.png", class: "profile_image"%>
        <% end %>
      </div>
      <div class="user_info_lists">
        <% if user_signed_in? && current_user.id == @user.id %>
          <div class="pull_down_wrapper">
            <span><%= image_tag 'arrow.png' %></span>
            <div class="pull_down_child">
              <div class="edit_btn_wrapper">
                <%= link_to "編集", edit_user_path(@user.id), class: "edit_profile_btn" %>
              </div>
            </div>
          </div>
        <% end %>
        <ul>
          <li>ニックネーム：<span><%= @user.nickname %></span></li>
          <li>筋トレ歴：<span><%= @user.profile.experience.name%></span></li>
          <li>鍛えたい部位：<span><%= @user.profile.part.name%></span></li>
          <li>トレーニング頻度：<span><%= @user.profile.frequency.name%></span></li>
        </ul>
      </div>
    </div>
    <div class="user_chart_wrapper">
      <div class="chart_title">Training Chart
      </div>
      <div class="pie_chart">
        <%= pie_chart ({"大胸筋" => @array.count(1), "広背筋・僧帽筋" => @array.count(2), "肩・三角筋" => @array.count(3), "上腕二頭筋" => @array.count(4), "上腕三頭筋" => @array.count(5), "腹筋" => @array.count(6), "尻・大臀筋" => @array.count(7), "脚・大腿四頭筋" => @array.count(8) }), height: "150px", width: "480px" %>
      </div>
    </div>
  </div>
  <div class="user_right_wrapper">
    <div class="calendar_name">Training Calendar
    </div>
    <%= month_calendar events: @posts do |date, posts| %>
      <%= date.day %>

      <% posts.each do |post|%>
        <div class="part_name_in_calendar">
          <%= post.part.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="user_page_title">
  <%= @user.nickname%>さんの投稿一覧
</div>

<% @posts.each do |post| %>
<%= render "/posts/posts", { post: post} %>
<% end %>

<h3 class="user_page_title">NiceTrainingした投稿</h3>
<div class="liked_post_lists_wrapper">
  <% @user.liked_posts.each do |post| %>
    <%= render "/posts/posts", { post: post } %>
  <% end %>
</div>