<%= render "/shared/header" %>
<div class="user_page_title">
  Profile
</div>
<div class="user_top_wrapper">
  <div class="user_left_wrapper">
    <div class="user_icon_info_wrapper">
      <div class="user_icon_wrapper">
      </div>
      <div class="user_info_lists">
        <div class="pull_down_wrapper">
          <span><%= image_tag 'arrow.png' %></span>
          <div class="pull_down_child">
            <div class="edit_btn_wrapper">
              <%= link_to "編集", edit_user_path(@user.id), class: "edit_profile_btn" %>
            </div>
          </div>
        </div>
        <ul>
          <li>ニックネーム：<span><%= @user.nickname %></span>
          </li>
          <li>筋トレ歴：<span><%= @user.profile.Experience.name%></span>
          </li>
          <li>鍛えたい部位：<span><%= @user.profile.Part.name%></span>
          </li>
          <li>トレーニング頻度：<span><%= @user.profile.Frequency.name%></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="user_intro_wrapper">
      <%= safe_join(@user.profile.introduction.split("\n"),tag(:br)) %>
    </div>
  </div>
  <div class="user_right_wrapper">
  </div>
</div>
<div class="user_page_title">
  <%= @user.nickname%>さんの投稿一覧
</div>

<% @posts.each do |post| %>
<%= render "/posts/posts", { post: post} %>
<% end %>