<div class="index_wrapper">
  <div class="shared_posts_wrapper">
    <div class="shared_post">
      <div class="user_wrapper">
        <div class="user_info">
          <div class="user_icon">
            <% if post.user.profile.image.attached?%>
              <%= image_tag post.user.profile.image.variant(resize: '150 x 250'), class: "post_user_image" %>
            <% else %>
              <%= image_tag "default.png", class: "post_user_image"%>
            <% end %>
          </div>
          <div class="user_name">
            <%= link_to post.user.nickname, user_path(post.user_id) %>
          </div>
        </div>
        <div class="user_introduction">
          <%= safe_join(post.user.profile.introduction.split("\n"),tag(:br)) %>
        </div>
      </div>
      <div class="post_text_wrapper">
        <div class="more">
          <span><%= image_tag 'arrow.png' %></span>
          <ul class="more_lists_wrapper">
            <li class="more_lists">
              <%= link_to "詳細", post_path(post.id), class: "show_btn" %>
            </li>
            <% if current_user.id == post.user_id%>
              <li class="more_lists">
                <%= link_to "削除", post_path(post.id), method: :delete, class: "show_btn", data: { confirm: '本当に削除しますか？' }  %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="shared_text">
          <%= safe_join(post.text.split("\n"),tag(:br)) %>
        </div>
        <div class="tag_list_field">
          <ul>
            <li>#<%= post.part.name %>
            </li>
            <li>#<%= post.equipment.name %>
            </li>
            <li>#<%= post.place.name %>
            </li>
          </ul>
          <div class="muscle_count", id="post_like_<%= post.id %>" >

            <%= render "likes/like", { post: post } %>
           
          </div>

        </div>
      </div>
    </div>
  </div>
</div>