<div class="search_form">
  <%= search_form_for @p, url: search_posts_path do |f| %>
    <%= f.search_field :text_cont, placeholder: "キーワード", class: "search_text_field"%>
    <%= f.collection_select :part_id_eq, Part.all, :id, :name, {include_blank: '部位'}, {class: "tag_search_form"} %>
    <%= f.collection_select :equipment_id_eq, Equipment.all, :id, :name, {include_blank: '器具'}, {class: "tag_search_form"}%>
    <%= f.collection_select :place_id_eq, Place.all, :id, :name, {include_blank: 'トレーニング場所'}, {class: "tag_search_form"}%>
    <%= f.submit '検索', class: "search_btn"%>
  <% end %>
</div>