<%= render "shared/header"%>
<div class="home_top">
  <div class="home_title">
    <h1>トレーニングをしよう</h1>
  </div>
  <div class="search_wrapper">
    <div class="search_form">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search_text_field"%>
        <%= f.submit "検索", class: "search_btn"%>
      <% end %>
    </div>
  </div>
</div>
<div class="home_part">
  <div class="part_title">
    <%= link_to "部位から探す", posts_path %>
  </div>
  <div class= "parts_wrapper">
    <div class="part_item">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, value: "大胸筋", type: "hidden"%>
        <%= f.submit "大胸筋", class: "part_btn"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, value: "上腕二頭筋", type: "hidden"%>
        <%= f.submit "上腕二頭筋", class: "part_btn"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, value: "上腕三頭筋", type: "hidden"%>
        <%= f.submit "上腕三頭筋", class: "part_btn"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, value: "肩", type: "hidden"%>
        <%= f.submit "肩", class: "part_btn"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, value: "腹筋", type: "hidden"%>
        <%= f.submit "腹筋", class: "part_btn"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, value: "脚", type: "hidden"%>
        <%= f.submit "脚", class: "part_btn"%>
      <% end %>
    </div>
  </div>
</div>