<%= render "shared/header"%>
<div class="home_top1" id="home">
  <div class="home_title">
    トレーニングをしよう
  </div>
  <%= render "search" %>
</div>
<div class="home_part">
  <div class="part_title">
    部位から探す
  </div>
  <div class= "parts_wrapper">
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :part_id_eq, Part.all, :id, :name, {selected: "1"}, {class: "hidden"} %>
        <%= f.submit "大胸筋", class: "part_btn chest cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :part_id_eq, Part.all, :id, :name, {selected: "2"}, {class: "hidden"} %>
        <%= f.submit "広背筋・僧帽筋", class: "part_btn back cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :part_id_eq, Part.all, :id, :name, {selected: "3"}, {class: "hidden"} %>
        <%= f.submit "肩・三角筋", class: "part_btn shoulder cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :part_id_eq, Part.all, :id, :name, {selected: "4"}, {class: "hidden"} %>
        <%= f.submit "上腕二頭筋", class: "part_btn arm2 cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :part_id_eq, Part.all, :id, :name, {selected: "5"}, {class: "hidden"} %>
        <%= f.submit "上腕三頭筋", class: "part_btn arm3 cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :part_id_eq, Part.all, :id, :name, {selected: "6"}, {class: "hidden"} %>
        <%= f.submit "腹筋", class: "part_btn abs cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :part_id_eq, Part.all, :id, :name, {selected: "7"}, {class: "hidden"} %>
        <%= f.submit "尻・大臀筋", class: "part_btn hip cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :part_id_eq, Part.all, :id, :name, {selected: "8"}, {class: "hidden"} %>
        <%= f.submit "脚・大腿四頭筋", class: "part_btn leg cover"%>
      <% end %>
    </div>
  </div>
  <div class="part_title">
    器具から探す
  </div>
  <div class= "parts_wrapper">
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :equipment_id_eq, Equipment.all, :id, :name, {selected: "1"}, {class: "hidden"} %>
        <%= f.submit "身体一つ!", class: "part_btn only_body cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :equipment_id_eq, Equipment.all, :id, :name, {selected: "2"}, {class: "hidden"} %>
        <%= f.submit "ダンベル", class: "part_btn dumbbell cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :equipment_id_eq, Equipment.all, :id, :name, {selected: "4"}, {class: "hidden"} %>
        <%= f.submit "ダンベル＋ベンチ", class: "part_btn dum_bench cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :equipment_id_eq, Equipment.all, :id, :name, {selected: "5"}, {class: "hidden"} %>
        <%= f.submit "ヨガマット", class: "part_btn yoga cover"%>
      <% end %>
    </div>
    <div class="part_item">
      <%= search_form_for @p, url: search_posts_path do |f| %>
        <%= f.collection_select :equipment_id_eq, Equipment.all, :id, :name, {selected: "6"}, {class: "hidden"} %>
        <%= f.submit "シムマシン", class: "part_btn gim_machine cover"%>
      <% end %>
    </div>
  </div>
</div>