<%= render "shared/header" %>

<div class="post_show_title">
  <%= link_to "#{@post.user.nickname}さんの投稿詳細", user_path(@post.user_id) %>
</div>

<%= render "posts", { post: @post } %>
<div class="like_comennt_wrapper">
  <div class="liked_user_wrapper">
    <h2 class="liked_user_title">NiceTrainingしたユーザー</h2>
    <% @post.liked_users.each do |user| %>
      <ul>
        <% if user.profile.image.attached? %>
          <li><%= image_tag user.profile.image.variant(resize: '100 x 100'), class: "liked_user_image" %></li>
        <% else %>
          <li><%= image_tag "default.png", class: "liked_user_image"%></li>
        <% end %>
        <li><%= link_to user.nickname, user_path(user.id) %></li>
      </ul>
    <% end %>
  </div>
  <div class="comments_wrapper">
    <% if user_signed_in? %>
      <h2 class="comments_form_title">コメントする</h2>
      <div class="comennts_form">
        <%= form_with model: [@post, @comment], url: post_comments_path(@post.id),local: true do |f|%>
          <%= f.text_area :text, placeholder: "例）１セットの回数はどうやって決めていますか？", rows: "3" , class: "comment_area"%>
          <%= f.submit "投稿する", class: "comment_btn"%>
        <% end %>
    <% end %>
    </div>
    <h2 class="comments_list_title">コメント一覧</h2>
    <div class="comments_list">
      <% @comments.each do |comment|%>
        <ul>
          <li><%= image_tag comment.user.profile.image, class: "liked_user_image" %></li>
          <li><%= link_to comment.user.nickname, user_path(comment.user.id) %></li>
          <li class="comment"><%= safe_join(comment.text.split("\n"),tag(:br)) %></li>
          <% if current_user.id == comment.user.id %>
            <li><%= link_to "コメントを削除", post_comment_path(@post.id,comment.id), method: :delete, class: "comment_delete" %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>