<%= render "shared/header" %>

<div class="post_show_title">
  <%= link_to "#{@post.user.nickname}さんの投稿詳細", user_path(@post.user_id) %>
</div>

<%= render "posts", { post: @post } %>
<div class="liked_user_wrapper">
  <h2 class="liked_user_title">いいねしたユーザー</h2>
  <% @post.liked_users.each do |user| %>
    <ul>
      <% if user.profile.image.attached? %>
        <li><%= image_tag user.profile.image.variant(resize: '100 x 100'), class: "liked_user_image" %></li>
      <% else %>
        <li><%= image_tag "default.png", class: "liked_user_image"%></li>
      <% end %>
      <li><%= link_to user.nickname, user_path(user.id) %></li>
    </ul>
  <% end %>
</div>